**day_2**

## taking input from users

In [3]:
name = input('enter your name')
print('The name is',name)

enter your name sunil

The name is sunil

### adding two numbers

In [8]:
a = int(input('enter first num'))
b = int(input('enter second num'))
c = a+b
print('The sum of two number is ',c)

enter first num 5
enter second num 6

The sum of two number is  11

#### loops in string

In [12]:
#loop in strings
a = 'I love python'
for x in a:
    print(x)

I

l
o
v
e

p
y
t
h
o
n

**multiline comment**

In [22]:
'''this is
multiline
comment'''

"""this is 
another 
line"""
print('This is multiline comment')

This is multiline comment

### variables

In [21]:
# variables are the containers that contains vlues.
# python is case sensitive
x = 2
X = 5
print(x+X)

7

### greater naumber

In [31]:
a = int(input('enter 1st no'))
b = int(input('enter 2nd no'))
print(type(a))
if a>b:
    print(a, ' is the greater')
else:
    print(b,' is the greater')

enter 1st no 6
enter 2nd no 9

<class 'int'>
9  is the greater

### defining the function

In [29]:
a = input('enter 1st no')
b = input('enter 2nd no')
def chk():
    if a>b:
        print(a, ' is the greater')
    else:
        print(b,' is the greater')
chk()

enter 1st no 99
enter 2nd no 2

99  is the greater

### checking data types

In [39]:
a = 9
b = 'sunil'
c = 9.99
d = ['ww','dd','gg']
e = ('ee','tt','yy','hg')
f = {'e','t','u','wsw','cd'}
g = {'A':1,'B':2,'C':3}
print(type(a))
print(type(b))
print(type(c))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type('u' in b))
print(type(range(66)))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'bool'>
<class 'range'>

### type casting

In [44]:
a = 99.55
print (type(a))
a = int(a)
print (type(a))
a = str(a)
print(type(a))

<class 'float'>
<class 'int'>
<class 'str'>

In [42]:
f = list(f)
print(type(f))

<class 'list'>