In [8]:
import pandas as pd

In [10]:
data = pd.Series([1,5,8,9,3], index = ['a','b','c','d','e'])

In [12]:
data[2:4]

c    8
d    9
dtype: int64

In [13]:
data['b']

5

In [14]:
population_dict = {'apple':1,
                   'ball':2,
                   'cat':3,
                   'dog':4
                  }

In [15]:
print(population_dict)

{'apple': 1, 'ball': 2, 'cat': 3, 'dog': 4}

In [18]:
population = pd.Series(population_dict)

In [19]:
print(population)

apple    1
ball     2
cat      3
dog      4
dtype: int64

In [20]:
population.index

Index(['apple', 'ball', 'cat', 'dog'], dtype='object')

In [21]:
population.values

array([1, 2, 3, 4], dtype=int64)

In [22]:
population['ball']

2

In [23]:
population['ball':'dog']

ball    2
cat     3
dog     4
dtype: int64

In [24]:
population[2:4]

cat    3
dog    4
dtype: int64

In [25]:
pd.Series({1:'adf',
          2:'ere',
          3:'tyr'})

1    adf
2    ere
3    tyr
dtype: object

In [26]:
pd.Series({1:'adf',
          2:'ere',
          3:'tyr'}, index = [2,3])

2    ere
3    tyr
dtype: object

In [27]:
area_dict =  {'apple':1,
                   'ball':2,
                   'cat':3,
                   'dog':4
                  }

In [28]:
area = pd.Series(area_dict)

In [29]:
area

apple    1
ball     2
cat      3
dog      4
dtype: int64

In [30]:
states = pd.DataFrame({'population':population,
                      'area':area})
states

       population  area
apple           1     1
ball            2     2
cat             3     3
dog             4     4

In [31]:
type(states)

pandas.core.frame.DataFrame

In [33]:
states.index

Index(['apple', 'ball', 'cat', 'dog'], dtype='object')

In [35]:
states.columns

Index(['population', 'area'], dtype='object')