# day_5

In [3]:
# break
x = 0
while x<10:
    print(x)
    x = x+1
    if x == 4:
        break

0
1
2
3

In [6]:
#continue
x = 0
while x<10:
    x += 1
    if x == 4:
        continue
    print(x)

1
2
3
5
6
7
8
9
10

In [10]:
lt = ['cat','dog','man','parrot']
for ele in lt:
    print (ele)

cat
dog
man
parrot

In [11]:
for x in 'anaconda':
    print(x)

a
n
a
c
o
n
d
a

In [13]:
for x in 'anaconda':
    if x == 'c':
        break
    print(x)

a
n
a

In [14]:
for x in 'anaconda':
    if x == 'c':
        continue
    print(x)

a
n
a
o
n
d
a

# range

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
for i in range(2,5):
    print(i)

2
3
4

In [17]:
for i in range(3,9,2):
    print(i)

3
5
7

## nested loop

In [19]:
clr = ['red','blue','green']
ob = ['car','house','chair']
for i in clr:
    for j in ob:
        print(i,j)

red car
red house
red chair
blue car
blue house
blue chair
green car
green house
green chair

# functions

In [22]:
def func(x,y):
    return x+y

print(func(5,3))

8

In [28]:
def add(x,y = 9):
  return x+y
print(add(5,8))
print(add(8))

13
17

In [53]:
'''def add(x = 9,y):
  return x+y
print(add(y = 9))
'''

'def add(x = 9,y):\n  return x+y\nprint(add(y = 9))\n'

# arbitrary args

In [50]:

def add(*val):
    x = 0
    for i in val:
        x = x+i
    return x
add(2,5,8)

15

In [51]:

num = int(input('enter the no of element you wanna add'))
list_val = []
for i in range(num):
    a = int(input('input the number'))
    list_val.append(a)

def add(*val):
    x = 0
    for i in val:
        x = x+i
    return x
y = add(*list_val)
print (y)

enter the no of element you wanna add 9
input the number 4
input the number 5
input the number 88
input the number 77
input the number 66
input the number 2
input the number 5
input the number 6
input the number 8

261

# lambda function

In [58]:
sum = lambda x,y : (x+y)
print(sum(2,8))

10

# tuple

In [63]:
A = ('a','r',5,'of')
for i in A:
    print(i)
print(A[2])

a
r
5
of
5